.box {
  border: 1px solid black;
}

.no-margin {
  margin: 0;
}

.half-width {
  width: 50%;
}

.top-box {
  margin-bottom: 20px;
}

.bottom-box {
  margin-top: 40px;
}

.tall-box {
  font-size: 50px;
}