.box > * {
  border: 2px solid black;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 20px;
  margin: 10px;
  background-color: yellow;
}

/**********************************/

.float-container {
  margin: 30px;
  border: 2px solid black;
}

.float-container > * {
  border: 2px dashed blue;
  padding: 20px;
  background-color: #FFAAAA;
}

.float {
  float: left;
  background-color: grey;
  /*margin: 20px;*/
}

/***************************/

.abs-container {
  border: 2px solid black;
}

.abs-container > * {
  border: 2px dashed blue;
}

.abs {
  position: absolute;
  background-color: #FFAAAA;
  top: 700px;
  /*right: 50px;*/
  left: 50px;
  width: 300px;
}
